<!DOCTYPE html>
<html>
<head>
    <title>Patient Details</title>
</head>
<body>

    <h1>Heart Disease Predictor</h1>
    <p>Please fill the form</p>

    <form action="http://127.0.0.1:5000/getresults" method="POST">

    	<p>name <input type="text" name="name"/> </p>
        <p>age <input type="text" name="age"/> </p>
        <p>sex (0-female,1-male)<input type="text" name="sex"/> </p>
        <p>cp (0-typical angina,1-atypical angina,2-non-angina pain,3-asymptomatic) <input type="text" name="cp"/> </p>
        <p>trestbps <input type="text" name="trestbps"/> </p>
        <p>chol <input type="text" name="chol"/> </p>
        <p>restecg (0-normal,1-having_ST_T wave abnormal,2-left ventricular hypertrophy) <input type="text" name="restecg"/> </p>
        <p>thalach <input type="text" name="thalach"/> </p>
        <p>exang (0-no,1-yes) <input type="text" name="exang"/> </p>
        <p>oldpeak <input type="text" name="oldpeak"/> </p>
        <p>slope (0-upsloping,1-flat,2-down sloping) <input type="text" name="slope"/> </p>
        <p>ca (0-4 number of major vessels) <input type="text" name="ca"/> </p>
        <p>thal (0-normal,1-fixed defect,2-reversable defect,3-another condition) <input type="text" name="thal"/> </p>

        <p><input type="submit" value="Submit Details"/></p>

    </form>

</body>
</html>

